
.well{
    background-color:#FCFCFC !important;
    border-radius:0 !important;
    border:none !important;
}

.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;

}
